/*--------DAYS---------*/
#days{
    color: gray;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    //background-color: brown;
    
}
#days .diff-days{
    margin: 2%;
}