/*--------TIME---------*/
@mixin btn {
    margin-left: 5px;
    margin-right: 5px;
    font-family: fantasy;
    width: 140px;
    border-radius: 100px;
    color:rgb(114, 98, 69);
    font-weight: bolder;
    font-size: 16px;
    border: 2px solid rgb(114, 98, 69);
    background-color: black;
    transition: all 0.2s;
    outline: none;

}
/*-----CONTENT-SW----*/
.content_sw{
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: red;
  
}
/*-----TIME-SW----*/
#time_sw{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*-----OPTIONS-SW----*/
#options_sw{
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    //background-color: white;
    //margin-top: 50px;
    //margin-bottom: 90px;
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: center;

    .curr-clock_sw{
    @include btn;
    margin: 0 10px 0 10px;
    &:hover{
        color: white;
       border: 2px solid white;
       cursor: pointer;
    }
    }
    .stopwatch_sw{
    @include btn;
    margin: 0 10px 0 10px;
    &:hover{
        color: white;
       border: 2px solid white;
       cursor: pointer;
    }
    }
    .activeoption_sw{
    color: white;
    border: 2px solid white;
    }
}
/*-----TIMER-OPTIONS----*/
#timer_option{
    width: 100%;
   // background-color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    justify-content: space-around;

    #start{
    @include btn;
    border-radius: 100px;
    width: 65px;
    height: 65px;
    }
    #stop{
    @include btn;
    border-radius: 100px;
    width: 65px;
    height: 65px;
    }
    #lap{
        @include btn;
        border-radius: 100px;
    width: 65px;
    height: 65px;
    }
    #reset{
        @include btn;
        border-radius: 100px;
        width: 65px;
        height: 65px;
    }
    
}
/*-----CLOCK-SW----*/
#clock_sw{
font-family: monospace;
font-size: 53px;
margin-top: 80px;
}
/*-----LAP-RECORD----*/
#lap_record{
    //background-color: blue;
    height: 250px;
    overflow: auto;
    width: 100%;
    //display: flex;
   // flex-direction: column;
    //justify-content: flex-start;
    &::-webkit-scrollbar { 
        display: none; 
    } 
}
/*--------LAP----*/
#laps{
    height: 40px;
    margin: 10px auto;
    border-bottom: 2px solid wheat;
    font-family: monospace;
    //background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#laptime{
    //margin-left: 5px;
}
/*-----MEDIA-HOVER----*/
@media (hover:hover){
    #timer_option{ 
       #start:hover, #stop:hover, #lap:hover, #reset:hover{
       border: 2px solid orange;
       cursor: pointer;

        }
   }
}